    TOOL ICON TOOL.ICO
    ELEMENTS ICON ELEMENTS.ICO
    WINDOW ICON WINDOW.ICO
    WINDOWS ICON WINDOWS.ICO
    PERSONAL ICON PERSONAL.ICO
    AGUIDES ICON GUIDES.ICO

	DB BITMAP DB.BMP
    EDITOR BITMAP EDITOR.BMP
	COMPILE BITMAP COMPILE.BMP
	TAB BITMAP TAB.BMP
    BOTON BITMAP BOTON.BMP
   	BROWSE BITMAP BROWSE.BMP
  	CHECKBOX BITMAP CHECKBOX.BMP
	CHECKBUT BITMAP CHECKBUT.BMP
	CLOSE BITMAP CLOSE.BMP
   	COMBOBOX BITMAP COMBOBOX.BMP
	DATEPICK BITMAP DATEPICK.BMP
	DELETE BITMAP DELETE.BMP
  	DUPLICAT BITMAP DUPLICAT.BMP
	EDITBOX BITMAP EDITBOX.BMP
 	FRAME BITMAP FRAME.BMP
   	GRID BITMAP GRID.BMP
    	GUIDES JPG GUIDES.JPG
    	GUIDESMINI BITMAP GUIDES_MINI.BMP
	HYPER BITMAP HYPER.BMP
  	IMAGE BITMAP IMAGE.BMP   
	INSPECT BITMAP INSPECT.BMP
 	IPADDR BITMAP IPADDR.BMP
  	LABEL BITMAP LABEL.BMP
   	LISTBOX BITMAP LISTBOX.BMP
 	LOADWIN BITMAP LOADWIN.BMP 
	MONTHCAL BITMAP MONTHCAL.BMP
	MOVE BITMAP MOVE.BMP
    	NEWWIN BITMAP NEWWIN.BMP
  	PLAYER BITMAP PLAYER.BMP
	PRINT BITMAP PRINT.BMP
  	PROGRESS BITMAP PROGRESS.BMP
	RADIO BITMAP RADIO.BMP
   	SAVE BITMAP SAVE.BMP
    	SLIDER BITMAP SLIDER.BMP
  	SPINNER BITMAP SPINNER.BMP
 	ANIMATE BITMAP ANIMATE.BMP 
	TEXTBOX BITMAP TEXTBOX.BMP 
      CLOCK BITMAP CLOCK.BMP
    BR_OK BITMAP BR_OK.BMP 
    BR_NO BITMAP BR_NO.BMP 
    UP BITMAP UP.BMP 
    DOWN BITMAP DOWN.BMP 
    TREE BITMAP TREE.BMP
    LEFT BITMAP LEFT.BMP
    RIGHT BITMAP RIGHT.BMP
    DO_LEFT BITMAP DO_LEFT.BMP
    DO_RIGHT BITMAP DO_RIGHT.BMP

