cancel		BITMAP	cancel.bmp
ok		BITMAP	ok.bmp

edit_close	BITMAP	edit_close.bmp
edit_delete	BITMAP	edit_delete.bmp
edit_edit	BITMAP	edit_edit.bmp
edit_find	BITMAP	edit_find.bmp
edit_new	BITMAP	edit_new.bmp
edit_print	BITMAP	edit_print.bmp

form_new	BITMAP	form_new.bmp
form_del	BITMAP	form_del.bmp
frm_build	BITMAP	frm_build.bmp 

GO_FIRST	BITMAP  GO_FIRST.bmp
GO_LAST		BITMAP  GO_LAST.bmp
GO_NEXT		BITMAP  GO_NEXT.bmp
GO_PREV		BITMAP  GO_PREV.bmp

hmgcase		ICON	hmgcase.ico
